body {
    font-family: Arial, sans-serif;
    margin: 0px;
    line-height: 1.6;
    padding: 0;
    background-color: #f1ffe7;
    color: #333;
}
header {
    background-color: rgb(9, 74, 9);
    padding: 10px;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
}
a{
    padding: 10px;
}
h1 {
    text-align: center;
    color: #007bff;
}
h2 {
    text-align: center; /* Center the title horizontally */
    margin-top: 20px; /* Optional margin for spacing */
}

.service-section {
    margin: 20px 0;
}

.service-section h2 {
    color: #0f3de2;
}

.service-section p {
    margin: 10px 0;
}

.form-section {
    max-width: 600px;
    margin: 20px auto;
    background-color: #edf3f4dd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    background-color: #1b75d5;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #43a8eb;
}